.contenido-1{
    width: 77%;
    padding: 1%;
    display: flex;
    flex-direction: row;
    margin-left:23%;
}
.contenido{
    width:85%;
}
@media screen and (max-width:750px){
    .contenido-1{
        width: 100%;
        margin-top:5%;
        margin-left:1%;
    }
    .contenido{
        width:85%;
    }
}