
/*fonts*/
@import url('./fonts/NotoSerif-Regular.ttf');
nav{
    width:18%;
    height:100%;
    overflow: scroll;
    position: fixed;
    background:#0f275ede;
    z-index:100;
    -webkit-box-shadow: 0 8px 6px -6px black;   
    -moz-box-shadow: 0 8px 6px -6px black;        
    box-shadow: 0 8px 6px -6px black;
    border-radius: 1%;
}
.btn-options{
    color:rgba(255, 255, 255, 0.774)!important;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:12px;
}
.active a{
    color:rgb(255, 255, 255)!important;
}
.active{
    background-color: rgba(255, 255, 255, 0.377);
}
.options div h4{
    color:#ffffff;
    font-family: Cambria;
    font-size:20px;
}
.options{
    display:block;
}
.bg a{
    color:rgb(255, 255, 255);
    margin-bottom: 2px;
    font-size:12px;
}
.btn-herramientas{
    color:rgb(79, 248, 79)!important;
    font-size:12px;
}
.btn-herramientas:hover{
    color:rgb(255, 67, 67)!important;
}
/*Icono*/
.icon-menu{
    width:100%;
    padding:8px;
}
.icon-menu a{
    color:black;
    width: 100%;
    padding:5px;
    text-decoration: none;
}
.cont-menu .img{
    margin-top:1%;
}
.cont-menu .img, .icon-menu{
    text-align:center;
}
.icon-menu button{
    display:none;
}
/*Hover para cada opcion*/
.content-options div .btn-options:hover{
    color:rgb(255, 255, 255)!important;
}
/*Botones de abrir y cerrar menu en modo responsivo*/
#cerrar{
    display:none;
    background-color:none;
    color:white;
}
.nav-item{
    padding-left:5%;
    display:flex;
    flex-direction: row;
}
#menu{
    display:none;
    background-color:none;
    color:white;
}
/*Logos */
#logo-amdeco-nombre{
    display:block;
}
#logo-amdeco{
    display:none;
}
/*Responsive*/
@media screen and (max-width:750px){
    #img-principal{
        width:90%;
    }
    #logo-amdeco-nombre{
        display:none;
    }
    #logo-amdeco{
        display:block;
    }
    #menu{
        display:inline;
    }
    #options{
        display: none;
    }
    .icon-menu button{
        display:inline;
        padding:2px;
    }
    .cont-menu{
        background:#002169;
        width:100%;
        display: flex;
        padding:5px;
    }
    .options{
        background-color:#002169;
        z-index: 1;
    }
    .content-options div a{
        color:white;
    }
    .cont-menu div img{
        width:30%;
    }
    .cont-menu .img{
        text-align:left;
    }
    .cont-menu .icon-menu{
        text-align: right;
    }
    #img-l-a{
        width:100%;
    }
    #img-l-a img{
        width:30%;
        background-color: white;
        padding: 10px;
        display:none;
    }
    nav{
        width:100%;
        position: relative;
        height: 50px;
        overflow:visible;
    }
    .icon-menu a{
        background-color:rgb(249, 249, 250);
        border-radius: 5px;
    }
}