
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

nav{
    width:23%;
    height:650px;
    overflow: scroll;
    position: fixed;
    background: linear-gradient(to bottom right,#29a6e7, #103f97);
}
.btn-options{
    color:white!important;
}
.options div h4{
    font-family: 'Roboto Slab', serif;
    background-color:rgba(109, 181, 245, 0.671);  padding:1% 0 1% 0;
}
.bg{
    background-color:#8ac7fd91;
}
.bg a{
    color:rgb(25, 24, 32);
    margin-bottom: 2px;
}
.bg a:hover{
    color:rgb(197, 30, 0)!important;
}
.btn-herramientas{
    color:rgb(10, 255, 10)!important;
}
.btn-herramientas:hover{
    color:rgb(2, 83, 2)!important;
}
/*Icono*/
.icon-menu{
    width:100%;
    padding:8px;
}
.icon-menu a{
    color:black;
    width: 100%;
    padding:5px;
    text-decoration: none;
}
.cont-menu .img{
    margin-top:1%;
}
.cont-menu .img, .icon-menu{
    text-align:center;
}
.icon-menu button{
    display:none;
}
.content-options div .btn-options:hover{
    color:rgb(51, 51, 51)!important;
}
#cerrar{
    display:none;
    background-color:none;
    color:white;
}
.nav-item{
    padding-left:5%;
    display:flex;
    flex-direction: row;
}
#menu{
    display:none;
    background-color:none;
    color:white;
}
@media screen and (max-width:750px){
    #menu{
        display:inline;
    }
    #options{
        display: none;
    }
    .icon-menu button{
        display:inline;
        padding:2px;
    }
    .cont-menu{
        background-color: #1471cb;
        width:100%;
        display: flex;
        padding:5px;
    }
    .options{
        background-color:#1471cb;
        z-index: 1;
    }
    .content-options div a{
        color:white;
    }
    .cont-menu div img{
        width:30%;
    }
    .cont-menu .img{
        text-align:left;
    }
    .cont-menu .icon-menu{
        text-align: right;
    }
    #img-l-a{
        width:100%;
    }
    #img-l-a img{
        width:30%;
        background-color: white;
        padding: 10px;
        display:none;
    }
    nav{
        width:100%;
        position: relative;
        height: 50px;
        overflow:visible;
    }
    .icon-menu a{
        background-color:rgb(249, 249, 250);
        border-radius: 5px;
    }
    
}