.reproductores{
    width:10%;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    position: fixed;
    margin-left:65%;
    z-index:-1;
}
.reproductores .icon{
    padding:2%;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.reproductores .icon button{
    background-color:rgb(244, 244, 248);
    border: none;
}
@media screen and (max-width:750px){
    .reproductores{
        margin-left:84%;
        width:15%;
    }
}