.reproductores{
    width:10%;
    height: 100%;
    position: fixed;
    z-index:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left:90%;
    background:#002169;
    padding-bottom: 50px;
}
.reproductores h5{
    color:rgb(255, 255, 255);
    font-size: 15px;
}
.reproductores .icon{
    padding:2%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    background-color:none;
    cursor: pointer;
    width:100%; 
    margin-left: 5%;
}
.reproductores .icon button{
    border: none;
}
/*Video*/
.reproductores .video{
    padding:2%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    background-color:none;
}
.reproductores .video button{
    background-color:rgba(255, 30, 0, 0);
    border: none;
}
@media screen and (max-width:750px){
    .reproductores{
        margin-left:82%;
        flex-direction: column;
        width:15%;
        background: none;
        z-index:1;
        margin-top:2%;
    }
    .reproductores .icon{
        margin-top: 15px;
        width:100%;
        margin-left: 18%;
    }
    .reproductores h5{
        color:rgba(0, 0, 0, 0.658);
        font-size:50%;
        padding:5%;
        margin-left: 40%;
    }
}
