
.reproductores{
    width:10%;height: 100%;
    position: fixed;
    z-index:-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left:90%;
    background: linear-gradient(to bottom right,#103f97, #29a6e7);
    padding-bottom: 50px;
}
.reproductores h5{
    color:rgba(255, 255, 255, 0.658);
}
.reproductores .icon{
    padding:2%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    background-color:none;
    cursor: pointer;
    width:90%; 
    margin-left: 5%;
}
.reproductores .icon button{
    background-color:rgba(255, 30, 0, 0);
    border: none;
}
/*Video*/
.reproductores .video{
    padding:2%;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
    background-color:none;
}
.reproductores .video button{
    background-color:rgba(255, 30, 0, 0);
    border: none;
}
@media screen and (max-width:750px){
    .reproductores{
        margin-left:82%;
        flex-direction: column;
        width:15%;
        height: 500px;
        background: none;
    }
    .reproductores .icon{
        margin-top: 15px;
        width:100%;
        margin-left: 18%;
    }
    .reproductores h5{
        color:rgba(6, 11, 63, 0.658);
        font-size:70%;
        padding:5%;
    }
}