/*Scroll*/
nav::-webkit-scrollbar {
    width: 10px;     /* Tamaño del scroll en vertical */
    background-color:white;
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
nav::-webkit-scrollbar-thumb {
    background: rgb(153, 153, 153);
    border-radius: 5px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
nav::-webkit-scrollbar-thumb:hover {
    background: #929090;
    
}
/* Cambiamos el fondo cuando esté en active */
nav::-webkit-scrollbar-thumb:active {
    background-color: #535353;
}
.container::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}
/*Fin*/
